Описание блока.
Блок состоит из 2-х частей: 1) Заголовок блока, 2) Информация о транзакциях
Прежде всего каждый блок имеет уникальное хэш-значение текущего блока. 
Заголовок блока состоит из следующих полей:
a)	prev_hash – хэш-значение предыдущего блока 
b)	time – UNIX-время 
c)	mining_info[] – массив данных для майнинга(это могут быть большие простые числа, хэш-паззл и т.д.)
d)	merkle_tree - дерево Меркла транзакций
Информация о транзакциях:
a)	transs_count – количество транзакций
b)	merkle_root – корень дерева Меркла транзакций
c)	transs - список транзакций
Для создания хэша блока используется конкатенация всех элементов заголовка.
Информация о единичной транзакции: 
a)	Заголовок
i.	locktime – время, до которого нельзя потратить транзакцию
ii.	count_in –  входных транзакций
iii.	count_out – количество выходных транзакций
b)	Входы
i.	prev_out – хэш значение предыдущей транзакции.
ii.	index – индекс выходной транзакции
iii.	script_signtr – подпись передающего(тратящего) монеты пользователя
iv.	script_pubKey – публичный ключ тратящего монеты
c)	Выходы
i.	value – сколько монет будет выплачено
ii.	hashPubKey – хэш-значение ключа получателя
Получается следующая схема для одного блока блокчейна:
hash:{
	//Заголовок
	prev_hash:string;
	time:ubigint;
	minig_info[]:array_or_single_variable;
	merkle_root:string;
	trans_count:usmallint;
	//данные транзакций
	transactions:{
		//пример единичной транзакции
		hash:{
			//заголовок блока
			locktime:ubigint(default=0);
			count_in:usmallint;
			count_out:usmallint;
			//входы:
			in[
				{
					prev_hash_out:string;
					index:usmallint;
					script_signtr:string;
					script_pubKey:string;
				}
				...
				…
			]
			out[
				{
					value:double;
					hashPubKey:string;
				}
				………..
			]	
}
….
		….
	}
	merkle_tree[
hash1, hash2, hash3 …… //представляет собой список листов дерева //при обходе в ширину
]
}
Пользователь подписывает секретным ключом хэш предыдущей транзакции и публичный ключ владельца.
Все данные хранятся в виде JSON-файла. По типу ключ-значение. Ключ - хэш-значение блока, значение – вся остальная информация. Аналогично для транзакций.
